In [1]:
import pandas as pd

In [7]:
import numpy as np
import os

In [11]:

df1 = pd.read_csv("IV_data\\Kfd_2025\\Kfd_2025\\kfd_2024-25.csv", encoding="latin1")

In [12]:
df2= pd.read_csv("IV_data\\New_kd_data\\kd_2025\\KD_2025.csv",encoding="latin1")

C:\Users\VIP\AppData\Local\Temp\ipykernel_19444\469198321.py:1: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  df2= pd.read_csv("IV_data\\New_kd_data\\kd_2025\\KD_2025.csv",encoding="latin1")

In [21]:
merge= pd.merge(df1,df2,on="vsnr")

In [23]:
pd.set_option('display.max_columns', None)
merge.head()

,vsnr,logb,phyb,fahrernummer,FZGNR,begl_fahren,fs_datum,gebdatum,geschlecht,id_beruf,fahrertyp,nutzung_andere_fzg,schaeden,schaeden_dritte,schaeden_glas,schaeden_natur,schaeden_unfall,punkte,vergehen,jahr,pvsnr,vm,status,aktiv,akt_kuka,spartek,beginn,datum_s,vtr_dau,kund_beg,vtrweg,STORNGRD,gesbeitr,SDANZAHL,SCHAGESA,KOSTGESA,KOSTGEKA,kosten_verw,kosten_prov,gfeld,ort,plz,alter,anr,SDBEITR5,HERSTELLER,HSN,TSN,ELEKTRO,KILOMETERSTAND
0,24514516-008,05.01.2025,06Jan2025:10:27:21,2,1,70732/ nein,NaN,14.09.1997,NaN,NaN,06744/ Fahrer,70732/ nein,70732/ nein,0,0,0,0,70732/ nein,NaN,NaN,24514516,00 000 1383,Aktiv,1,1,KH,05.01.2025,NaN,85,29.10.2014,D,NaN,187.1,0,0,0,0,5.67,3.38,70270/ Privatkunden,Tengen,78250,37.0,71295/ Herr,"44,70","RENAULT (F) INKL. AMPERE,",3333.0,BIA,J,60.0
1,24514516-008,05.01.2025,06Jan2025:10:27:21,1,1,70732/ nein,08.09.2005,22.06.1987,21205/ männlich,NaN,06743/ Hauptfahrer,70731/ ja,70732/ nein,0,0,0,0,70732/ nein,NaN,NaN,24514516,00 000 1383,Aktiv,1,1,KH,05.01.2025,NaN,85,29.10.2014,D,NaN,187.1,0,0,0,0,5.67,3.38,70270/ Privatkunden,Tengen,78250,37.0,71295/ Herr,"44,70","RENAULT (F) INKL. AMPERE,",3333.0,BIA,J,60.0
2,24514728-004,20.03.2025,20Mrz2025:11:44:10,1,1,70732/ nein,06.03.2003,06.03.1984,21205/ männlich,NaN,06743/ Hauptfahrer,70731/ ja,70732/ nein,0,0,0,0,70732/ nein,NaN,NaN,24514728,00 000 1366,Aktiv,1,1,VK,20.03.2025,NaN,11,13.12.2008,D,NaN,139.14,0,0,0,0,0.53,0.32,70270/ Privatkunden,Braunschweig,38104,41.0,71295/ Herr,"4,25",AUDI AG,588.0,731,N,335.0
3,24514728-004,20.03.2025,20Mrz2025:11:44:10,1,1,70732/ nein,06.03.2003,06.03.1984,21205/ männlich,NaN,06743/ Hauptfahrer,70731/ ja,70732/ nein,0,0,0,0,70732/ nein,NaN,NaN,24514728,00 000 1366,Aktiv,1,1,KH,20.03.2025,NaN,11,13.12.2008,D,NaN,324.12,0,0,0,0,1.26,0.75,70270/ Privatkunden,Braunschweig,38104,41.0,71295/ Herr,"9,90",AUDI AG,588.0,731,N,335.0
4,24514728-004,20.03.2025,20Mrz2025:11:44:10,2,1,70732/ nein,NaN,07.02.1987,21204/ weiblich,NaN,06744/ Fahrer,70731/ ja,70732/ nein,0,0,0,0,70732/ nein,NaN,NaN,24514728,00 000 1366,Aktiv,1,1,VK,20.03.2025,NaN,11,13.12.2008,D,NaN,139.14,0,0,0,0,0.53,0.32,70270/ Privatkunden,Braunschweig,38104,41.0,71295/ Herr,"4,25",AUDI AG,588.0,731,N,335.0

In [24]:
import pickle

In [25]:
merge.to_csv("Mergesaample.csv",index=False)

In [ ]:
import numpy, pandas, matplotlib, seaborn, plotly, sklearn
print(numpy.__version__, pandas.__version__, matplotlib.__version__, seaborn.__version__, plotly.__version__, sklearn.__version__)

In [ ]:
import pickle

In [ ]:
dd = pd.read_csv('D:\vs_MT\IV_data\Maklerliste Stand 01.03.2025.xlsx')

In [ ]:
dd = pd.read_excel('D:\\vs_MT\\IV_data\\Maklerliste Stand 01.03.2025.xlsx')

In [ ]:
dd.head()

In [ ]:
dd.info()

In [ ]:
dd.dtypes